@font-face
	{
		font-family: 'Noto Sans Bengali';
		src: local('Noto Sans Bengali'), url(http://bangla-keyboard-layout.googlecode.com/svn-history/r93/trunk/NotoSansBengali-Regular.woff), url(NotoSansBengali-Regular.ttf);
		font-weight: 400;
	}